<!DOCTYPE HTML>
<html lang="en">

    <head>
        <title>{{ site.name }}</title>

        <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

        <meta name="author" content="{{ site.name }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <!--<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
    </head>



    <body>
        <table class="default" style="max-width:800px">

            <tr style="padding:0px">
                <td style="padding:0px">
                    <table class="default">
                        <tr style="padding:0px">
                            <td style="width:60%">
                                <div style="background-color:yellow"><a href="https://tinyurl.com/nro-defense"><h1>RSVP for my defense (click here)!</h1></a> <h1>Tuesday Sept. 5th at 10AM at 150 Western Ave, Room 1.412.</h1>
<h2>Zoom details in link above. Room may change to LL2.224 pending room request.</h2> (Will add directions later this week, LL2 is the 2nd basement level)</div>
                                <h1>
                                    Rui Ouyang 
                                </h1>
                                <p>I am a PhD student at the <a href="seas.harvard.edu/">
                                    Harvard School of Engineering and Applied Sciences</a>. My PhD
                                advisor is Prof. Roberto Rigobon, where my
                                research will focus on machine learning applied
                                to counter human trafficking.
                                </p>
                                <p>I have previously worked with 
                                <a href="https://wyss.harvard.edu/team/associate-faculty/robert-howe/">
                                    Prof. Robert Howe</a> at Harvard University,
                                <a
                                    href="https://www.ccs.neu.edu/home/rplatt/">Prof.
                                    Robert Platt </a> at Northeastern University, and 
                                <a
                                    href="https://persci.mit.edu/people/adelson">Prof.
                                    Edward Adelson</a> at MIT. Prior to
                                graduate
                                school, I worked with <a href="https://biomimetics.mit.edu/albert-wang">
                                    Dr. Albert Wang</a> in the MIT Biomimetics Lab (headed by
                                Prof. Sangbae Kim). I also worked at the bioinformatics startup <a href="https://curoverse.net">
                                    Curoverse</a> and the <a href="https://www.personalgenomes.org/">
                                    Personal Genome Project</a>, both under <a href="https://scholar.google.com/citations?user=Ifj9cY0AAAAJ&hl=en">
                                    Dr. Alexander Zaranek</a>.
                                </p>
                                <p>
                                In a prior life, my friend Cappie Pomeroy and I founded a startup,
                                <a href="https://ruiouyang.com/2013/05/NarwhalEdu-Kickstarter/">
                                    NarwhalEdu</a>, focused on combining online education and hands-on
                                hardware kits.  I escaped with a BS in Mechanical Engineering 
                                from <a href="http://meche.mit.edu">MIT</a>.
                                I grew up in Georgia, USA.
                                </p>

                                <!--<p>This website focuses on my academic work; for other work, please see my <a 
                                        href="https://nancyouyang.com">engineering
                                        portfolio</a>. My academic pseudonym (to keep citations consistent)
                                    is Rui; in daily life, I also go by Nancy and Nao.
                                </p> -->

                                <p style="text-align:center">
                                <a href="mailto:nrobotspamatmitdotedu">Email</a> (remove the "spam")</a> &nbsp;/&nbsp;
                            <a href="https://github.com/nro-bot">GitHub</a> &nbsp;/&nbsp;
                            <a href="https://www.linkedin.com/in/nrobot"> LinkedIn </a>
                            <!--<a href="https://scholar.google.com/citations?user=GCYG4GoAAAAJ">Google Scholar</a> &nbsp;/&nbsp;-->
                                </p>
                            </td>
                            <td style="width:40%;max-width:40%">
                                <img style="border-radius:50%; width:100%;
                                max-width:100%" alt="profile photo"
                                src="images/favicon.jpg">
                            </td>
                        </tr>
                    </table>

                    <table class="default">
                        <tr>
                            <td style="width:100%;">
                                <!--******************************************************-->
                                <h2>Research</h2>
                                <!--******************************************************-->
                                <p>
                                My background in both mechanical engineering and
                                computer science is reflected in my work below. 
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table>
                        {% for post in site.posts %}
                        {% for cat in post.categories %}
                        {% if cat == 'research' %}
                                {% include loop_posts.html %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </table>

                    <br>
                    <br>
                    <br>
                    <table class="default">
                        <tr>
                            <td style="width:100%;">
                                <!--******************************************************-->
                                <h2>Awards</h2>
                                <!--******************************************************-->
                            </td>
                        </tr>
                    </table>
                    <table class="default">
                        <tr>
                                <td style="width:25%; min-width:120px">
                                    <img src="images/thumbs/scholars.jpg" alt="project image" class="thumb">
                                </td>
                                <td style="width:75%;">
                                <p>
                                I received the <a href="https://www.womentechmakers.com/">Google Women Techmakers Scholarship</a> in 2017. 
                                </p>

                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <br>




                    <table class="default">
                        <tr>
                            <td style="width:100%;">
                                <!--******************************************************-->
                                <h2>Other Projects</h2>
                                <!--******************************************************-->
                                <p> Classwork and unpublished work below. Please see <a href="https://ruiouyang.com">
                                    my engineering portfolio</a> for more
                                details / more projects.  I also keep an informal blog at <a
                                                                                     href="https://orangenarwhals.com">orangenarwhals</a>. 
                                </p>
                            </td>
                        </tr>
                    </table>

                    <table class="default">
                        {% for post in site.posts %}
                        {% for cat in post.categories %}
                        {% if cat != 'research' and cat != 'Activism' and cat != 'Writing' %}
                                {% include loop_posts.html %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </table>


                    <br>
                    <br>
                    <br>

                    <table class="default">
                        <tr>
                            <td style="width:100%;">
                                <!--******************************************************-->
                                <h2>Activism</h2>
                                <!--******************************************************-->
                                <p> I am also an activist and a feminist.</p>
                            </td>
                        </tr>
                    </table>

                    <table class="default">
                        {% for post in site.posts %}
                        {% for cat in post.categories %}
                        {% if cat == 'Activism' or cat =='Writing' %}
                                {% include loop_posts.html %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </table>


                    <table class="default">
                        <tr>
                            <td style="padding:0px">
                                <br>
                                <div style="opacity:30%;text-align:center;font-size:xx-small;
                                                   font-style:italic">
                                    <p> 
                                    Design and source code from <a 
                                     href="https://jonbarron.info">Jon Barron's webdsite</a>.
                                 as modified by <a
                                                    href="https://github.com/leonidk/new_website">Leonid
                                                    Keselmam</a>.
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>

</html>

