<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Rui Ouyang 
              </h1>
              <p>I am a PhD student at the <a href="seas.harvard.edu/">
                  Harvard School of Engineering and Applied Sciences</a>, where
              I work on tactile perception in robotics. My PhD
              advisor is <a href="https://persci.mit.edu/people/adelson">Prof. Edward
                  Adelson</a> at MIT.
              </p>
              <p>I have previously worked with 
              <a href="https://wyss.harvard.edu/team/associate-faculty/robert-howe/">
                  Prof. Robert Howe</a> at Harvard University and 
              <a href="https://www.ccs.neu.edu/home/rplatt/">Prof. Robert Platt
              </a> at Northeastern University. Prior to graduate
                school, I worked with <a
                    href="https://biomimetics.mit.edu/albert-wang">
                    Dr. Albert Wang</a> in the MIT Biomimetics Lab (headed by
                Prof. Sangbae Kim). I also worked at the bioinformatics startup <a href="https://curoverse.net">
                    Curoverse</a> and the <a href="https://www.personalgenomes.org/">
                    Personal Genome Project</a>, both under <a href="https://scholar.google.com/citations?user=Ifj9cY0AAAAJ&hl=en">
                    Dr. Alexander Zaranek</a>.
              </p>
              <p>
                In a prior life, my friend Cappie Pomeroy and I founded a startup
                , <a
                href="http://nancyouyang.com/2013/05/NarwhalEdu-Kickstarter/">
            NarwhalEdu</a>, focused on combining online education and hands-on
        hardware kits.  I escaped with a BS in Mechanical Engineering (concentration in
                            robotics) from <a href="http://meche.mit.edu">MIT</a>.
                </p>



              <p>This website focuses on my academic work; for other work, please see my <a 
                            href="https://nancyouyang.com">engineering
                            portfolio</a>. My academic pseudonym (to keep
                        citations consistent) is Rui; in daily life, I also
                        go by Nancy and Nao.
              </p>
              <p style="text-align:center">
              <a href="mailto:nrobotspam@mit.edu">Email</a> (remove the "spam")</a> &nbsp;/&nbsp;
                <a href="https://github.com/nouyang">GitHub</a> &nbsp;/&nbsp;
                <!--<a href="https://scholar.google.com/citations?user=GCYG4GoAAAAJ">Google Scholar</a> &nbsp;/&nbsp;-->
                <a href="https://www.linkedin.com/in/nouyang"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="border-radius:50%;width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in computer vision, tactile perception, and
                robotics. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">





          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="images/thumbs/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> Please see <a href="https://nancyouyang.com">
                  my engineering portfolio</a> for more details on my other
              projects (this includes coursework, side projects and unpublished
              research work).
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research'%}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/images/thumbs/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <div style="opacity:30%;text-align:center;font-size:xx-small;
                  font-style:italic">
              <p> 
                Design and source code from <a 
                    href="https://jonbarron.info">Jon Barron's webdsite</a>.
                as modified from <a
                    href="https://github.com/leonidk/new_website">Leonid
                    Keselmam</a>.
              </p>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

